
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Gift Gallery</title>
<meta name="description" content="Gift for Kanpur -sameday delivery for cake, chocolate, flowers, gifts, paintings, Bouquet, printed tshirt, printed mug, key chain,custom gifts. Gifts for all festivals, holi, dewali, rakshabandhan, valentineDay, eid, Christmas and All" />
<meta name="keywords" content="cake,chocolate,flower,delivery,kanpur,sameday,gifts,in,custom, printed,tshirts, mug,holi,deewali,eid,christmas,festivals,shopping,bouquet,painting,valentineDay" />
<meta name="rating" content="general" />
<meta name="copyright" content= "www.giftforkanpur.in" />
<meta name="revisit-after" content="10 Days" />
<meta name="expires" content="never">
<meta name="distribution" content="global" />
<meta name="robots" content="index" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
<div id="mainblock">
  <!--inner block starts here -->
  <div id="innerblock">
    <div id="toppanel"> <img src="tp_logo.gif" width="238" height="54" alt="" class="tp_logo" /> <%= image_tag("tp_shopping_img.gif", :class => "tp_shopping_img") %><a href="http://www.free-css.com/" class="tp_txt1">Shopping Cart <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0 items</a> <a href="http://www.free-css.com/" class="tp_txt2">sign in :: Register</a>
      <div class="tp_menu_tile"> <a href="/homepage" class="tp_menu1">Home Page</a> <%= image_tag("tp_divider.gif", :class => "tp_divider") %> <a href="/cake" class="tp_menu2">Cake</a><%= image_tag("tp_divider.gif", :class => "tp_divider") %> <a href="/chocolate" class="tp_menu2">Chocolate</a><%= image_tag("tp_divider.gif", :class => "tp_divider") %> <a href="/flower" class="tp_menu2">Flower</a> <%= image_tag("tp_divider.gif", :class => "tp_divider") %> <a href="/gift" class="tp_menu2">Gift</a> <%= image_tag("tp_divider.gif", :class => "tp_divider") %><a href="/faq" class="tp_menu2">FAQ</a> <%= image_tag("tp_divider.gif", :class => "tp_divider") %> <a href="/contactus" class="tp_menu2">Contact Us</a>  </div>
      <div class="tp_tile2"> <%= image_tag("tp_btn1.gif", :class => "tp_btn1",:width=> "15",:height=>"15") %>
        <p class="tp_heading">Gift Gallery</p>
      </div>
      <div class="tp_block"><%= image_tag("tp_image01.gif", :class => "tp_image01",:width=> "140",:height=>"135") %></div>
      <div class="tp_block1"><%= image_tag("tp_image02.gif", :class => "tp_image01",:width=> "140",:height=>"135") %></div>
      <div class="tp_block1"><%= image_tag("tp_image03.gif", :class => "tp_image01",:width=> "140",:height=>"135") %></div>
      <div class="tp_block1"><%= image_tag("tp_image04.gif", :class => "tp_image01",:width=> "140",:height=>"135") %></div>
    </div>
    <div id="contentblock">
      <div id="leftpanel">
        <div class="lp_block">
          <div class="lp_tile"> 
            <%= image_tag("lp_btn1.gif", :class => "lp_btn1",:width=> "15",:height=>"15") %>
            <p class="lp_heading">Categories</p>
          </div>
          <div class="rp_listblock">  <%= image_tag("lp_btn2.gif", :class => "rp_btn3",:width=> "6",:height=>"5") %><a href="/cake" class="rp_listtxt">Cake</a> </div>
          <div class="rp_listblock">  <%= image_tag("lp_btn2.gif", :class => "rp_btn3",:width=> "6",:height=>"5") %> <a href="/chocolate" class="rp_listtxt">Chocolate</a> </div>
          <div class="rp_listblock">  <%= image_tag("lp_btn2.gif", :class => "rp_btn3",:width=> "6",:height=>"5") %> <a href="/flower" class="rp_listtxt">Flower &amp; Boquet</a> </div>
          <div class="rp_listblock">  <%= image_tag("lp_btn2.gif", :class => "rp_btn3",:width=> "6",:height=>"5") %> <a href="/painting" class="rp_listtxt">Paintings</a> </div>
          <div class="rp_listblock"> <%= image_tag("lp_btn2.gif", :class => "rp_btn3",:width=> "6",:height=>"5") %><a href="/coustomgift" class="rp_listtxt">Coustom Gifts</a> </div>
          
        </div>

        <div class="lp_block">
          <div class="lp_tile"> 
            <%= image_tag("lp_btn1.gif", :class => "lp_btn1",:width=> "15",:height=>"15") %>
            <p class="lp_heading">Indian Festivals</p>
          </div>
          <div class="rp_listblock">  <%= image_tag("lp_btn2.gif", :class => "rp_btn3",:width=> "6",:height=>"5") %> <a href="/holi" class="rp_listtxt">Holi</a> </div>
          <div class="rp_listblock">  <%= image_tag("lp_btn2.gif", :class => "rp_btn3",:width=> "6",:height=>"5") %> <a href="/diwali" class="rp_listtxt">Diwali</a> </div>
          <div class="rp_listblock">  <%= image_tag("lp_btn2.gif", :class => "rp_btn3",:width=> "6",:height=>"5") %> <a href="/rakshabandhan" class="rp_listtxt">Rakshabandhan</a> </div>
          <div class="rp_listblock">  <%= image_tag("lp_btn2.gif", :class => "rp_btn3",:width=> "6",:height=>"5") %> <a href="/eid" class="rp_listtxt">Eid</a> </div>
          <div class="rp_listblock">  <%= image_tag("lp_btn2.gif", :class => "rp_btn3",:width=> "6",:height=>"5") %> <a href="/valentineday" class="rp_listtxt">Valentine Day</a> </div>
        </div>


        <div class="lp_block1">
          <div class="lp_tile"> <%= image_tag("lp_btn1.gif", :class => "lp_btn1",:width=> "15",:height=>"15") %>
            <p class="lp_heading">Visit Us.</p>
          </div>
          <p class="lp_txt"><span style="color:#FB0616;">If you have any questions contact us.</span><br />
            Computer Expert<br />
            127/438 S block,<br />
            Vinoba nagar juhi,<br />
            Kanpur-208014<br />
            Ph : 09044087629<br />
            E-mail : <a href="http://www.free-css.com/" style="color:#FB0616;">info@companyname.com</a> </p>
        </div>
        </a><%= image_tag("lp_image.gif", :class => "lp_image1",:width=> "279",:height=>"129") %> </div>
      <div id="contentpanel">
        <div style="float:left; ">
          <div class="cnt_tile2"> 
            <%= image_tag("tp_btn1.gif", :class => "tp_btn1",:width=> "15",:height=>"15") %>
            <p class="tp_heading">Description</p>
          </div>
          <div class="cnt_block1">
            <div style="float:left; display:inline; width:400px;">
              <p class="cnt_txt1"> Name : Christmas kit Set<br />
                RRP : US $75.99/-<br />
                Origin : Made in Germany<br />
                Size : 3.5"*2.75" </p>
              <p class="cnt_txt2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ut nulla quis lectus scelerisque tincidunt. Inhac habtasse platea dictumst. Integer cursus.Mauris ligula purus, sagittis a, venenatis <a href="http://www.free-css.com/" style="color:#FB0616;">Read more</a></p>
            </div>
            <%= image_tag("cnt_image1.gif", :class => "cnt_image1",:width=> "135",:height=>"115") %> </div>
        </div>
        <div style="float:left;">
          <div class="cnt_tile2"> <%= image_tag("tp_btn1.gif", :class => "tp_btn1",:width=> "15",:height=>"15") %>
            <p class="tp_heading">Shipping &amp; Handling</p>
          </div>
          <div class="cnt_block1"> <img src="images/lp_btn2.gif" width="6" height="5" alt="" class="cnt_btn4" />
            <p class="cnt_txt3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ut nulla quis lectus scelerisque tincidunt. Inhac hab tasse platea dictumst. Integer cursus</p>
            <img src="images/lp_btn2.gif" width="6" height="5" alt="" class="cnt_btn4" />
            <p class="cnt_txt3">Pellentesque tempor pretium odio. Proin eget urna adipiscing lorem mollis convallis. Duis non purus ut augue rhoncus eleifend. Aenean sit amet odio. Sed blandit, nunc vel aliquet egestasmi.</p>
            <img src="images/lp_btn2.gif" width="6" height="5" alt="" class="cnt_btn4" />
            <p class="cnt_txt3">Aliquam erat volutpat. Donec egestas luctus erat. Suspendisse neque justo, ultrices id, interdum id, rhoncus ut, lacus. Duis suscipit eros et ante. Praesent adipiscing nulla vitae risus.</p>
            <a href="http://www.free-css.com/" class="cnt_readmore">read more</a> </div>
        </div>
        <div style="float:left;">
          <div class="cnt_tile2"> <%= image_tag("tp_btn1.gif", :class => "tp_btn1",:width=> "15",:height=>"15") %>
            <p class="tp_heading">Payments Details</p>
          </div>
          <div class="cnt_block1">
            <p class="cnt_txt4">Aliquam erat volutpat. Donec egestas luctus erat. Suspendisse neque justo, ultrices id, interdum id, rhoncus ut, lacus. Duis suscipit eros et ante. Praesent adipiscing nulla vitae risus.</p>
            <p class="cnt_txt4">Ut feugiat suscipit massa. Quisque dignissim, nisi eget cursus aliquet, dolor felis pellentesque sapien, eu lobortis enim massa ac dui.</p>
            <p class="cnt_payment"><strong>Payment Method</strong></p>
            <%= image_tag("cnt_paypal.gif", :class => "cnt_paypal",:width=> "203",:height=>"33") %> </div>
        </div>
        <div style="float:left; padding-bottom:20px;">
          <div class="cnt_tile2"> <%= image_tag("tp_btn1.gif", :class => "tp_btn1",:width=> "15",:height=>"15") %>
            <p class="tp_heading">Terms &amp; Condtions</p>
          </div>
          <div class="cnt_block1"> <img src="lp_btn2.gif" width="6" height="5" alt="" class="cnt_btn4" />
            <p class="cnt_txt3"><strong>Delivery Details</strong> Nulla imperdiet, dolor sit amet congue faucibus, leo nunc tempus urna, ut condimentum lectus velitnon sem. Donec tristique convallis lacus.</p>
            <img src="images/lp_btn2.gif" width="6" height="5" alt="" class="cnt_btn4" />
            <p class="cnt_txt3"><strong>Refunds</strong> Nulla imperdiet, dolor sit amet congue faucibus, leo nunc tempus urna, ut condimentum lectus velit nonsem. Donec tristique convallis lacus.</p>
            <img src="images/lp_btn2.gif" width="6" height="5" alt="" class="cnt_btn4" />
            <p class="cnt_txt3"><strong>Customer Services</strong> Nulla imperdiet, dolor sit amet congue faucibus, leo nunc tempus urna, ut condimentum lectusvelit non sem. Donec tristique convallis lacus.</p>
            <a href="http://www.free-css.com/" class="cnt_readmore">read more</a> </div>
        </div>
      </div>
    </div>
    <div id="footerpanel">      
        <p style="display:block; width:100%; color:#FFFFFF; margin:0; padding:10px 0; text-align:center; font-size:12px;">copyright, All Rights Reserved. @Computer Expert</p>
      </div>
    </div>
    <!--inner block ends up -->
  </div>
</div>
<!--main block ends up -->
</body>
</html>
